.icons-container {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(10,1fr);
}
.icon-content{display: flex;
    align-items: center;
    flex-direction: column;
width:64px;
height:64px;
color: inherit;
font-size: 14px;
}
.icon-box {
    display: inline;
    width:32px;
    height:32px;
}

